<div class="container py-4">
  <%= simple_form_for :search, url: venues_path, method: :get, html: { class: "row" } do |f| %>
    <%= f.input :address,
              label: "Near",
              input_html: { value: params.dig(:search, :address) || "Shinjuku" },
              wrapper_html: { class: "col-sm-6 text-white border-light" } %>
    <%= f.input :radius,
              label: "Radius (km)",
              input_html: { value: params.dig(:search, :radius) || 2, min: 1 },
              wrapper_html: { class: "col-sm-4 text-white border-light" } %>
    <%= f.input :genre,
              label: "Genre",
              collection: ["All"] + (@available_genres || Band.distinct.pluck(:genre)),
              selected: params.dig(:search, :genre),
              include_blank: false,
              wrapper_html: { class: "col-sm-6 text-white border-light" } %>
    <div class="col-auto">
      <%= f.button :submit, "Search", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
