<div class="tokyo-navbar container">
  <div class="navbar-flex">
    <div class="d-flex flex-column align-items-center">
      <%= link_to root_path, class: "navbar-item text-center", id: "logo" do %>
        <%= image_tag "icons/record-player-icon.png", alt: "Tokyo Turntable Logo", size: "42x42" %>
        <p class="mx-0 mb-0" style="font-size: 14px; color: black;">Home</p>
      <% end %>
    </div>
    <div class="d-flex flex-column align-items-center">
      <% if user_signed_in? %>
        <%= link_to user_path(current_user), class: "navbar-item" do %>
          <i class="fa-solid fa-message"></i>
        <% end %>
      <% end %>
    </div>
    <div class="navbar-item dropdown">
      <a class="nav-link" href="#" id="userProfileDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa-solid fa-user"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end" aria-labelledby="userProfileDropdown">
        <% if user_signed_in? %>
          <%= link_to "My Profile", profile_users_path, class: "dropdown-item" %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
        <% end %>
      </div>
    </div>
    <%# The middle button (record-vinyl icon), now linked to the home page %>
    <%# The Messages icon, linked to the user profile page %>
    <%# Calendar icon (user menu) dropdown %>
  </div>
</div>
