<%# app/views/venues/show.html.erb %>
<div class="venue-show-page-content-wrapper"> <%# New wrapper for centering all content %>
  <%# Venue Header Section %>
  <div class="venue-header p-4">
    <div class="d-flex justify-content-between">
      <div class="venue-header-text text-start">
        <h1><%= @venue.name %></h1>
        <p class="neighborhood mt-2 mb-3"><span><%= @venue.neighborhood %></span>, Tokyo </p>
        <%# Wrapped neighborhood in span for styling if needed %>
      </div>
      <div class="venue-header-img ps-2">
        <% if @venue.photo.attached? %>
          <%= image_tag @venue.photo, class: "gig-img", width: "130", height: "auto" %>
        <% else %>
          <%= image_tag "https://via.placeholder.com/130xauto?text=No+Image",
          class: "gig-img", width: "130", height: "auto" %>
        <% end %>
      </div>
    </div>
    <div class="text-start">
      <%# render venue Details Toggle Section%>
      <%= render partial: "shared/see_venue_details", locals: { venue: @venue } %>
    </div>
  </div>
  <%# </div> %>
  <%# Schedule %>
  <div class="schedule mt-4">
    <p class="text-center selected-year"><%= @selected_year %></p>
    <div class="months-container">
      <% if @selected_month == 1 %>
        <a class="previous-month" href="/venues/<%= @venue.id %>?month=12&year=<%= @selected_year - 1 %>">12 <span>DEC</span></a>
      <% else %>
        <a class="previous-month" href="/venues/<%= @venue.id %>?month=<%= @selected_month - 1 %>&year=<%= @selected_year %>"><%= @selected_month - 1 %> <span><%= @previous_month_text %></span></a>
      <% end %>
      <p class="selected-month"><%= @selected_month %><span><%= @selected_month_text %></span></p>
      <% if @selected_month > 11 %>
        <a class="next-month" href="/venues/<%= @venue.id %>?month=1&year=<%= @selected_year + 1 %>">1 <span>JAN</span></a>
      <% else %>
        <a class="next-month" href="/venues/<%= @venue.id %>?month=<%= @selected_month + 1 %>&year=<%= @selected_year %>"><%= @selected_month + 1 %> <span><%= @next_month_text %></span></a>
      <% end %>
    </div>
  </div>
  <%# Upcoming Show Section %>
  <div class="upcoming-wrapper text-start">
    <h4 class="body-header mb-3 mt-3 ps-4 text-start">Upcoming</h4>
    <% if @gigs.any? %>
      <% @gigs.each do |gig| %>
        <div class="venue-body main-content-card mb-4 mt-0" style="width: 400px;"> <%# Applied main-content-card here %>
          <table class="gig-table mb-3"> <%# Added mb-3 for spacing between gig tables %>
            <tr>
              <td class="label"><i class="fa-regular fa-calendar icon"></i></td>
              <td class="gig-text"><%= gig.date.strftime("%Y/%m/%d") %></td>
            </tr>
            <tr>
              <td class="label"><i class="fa-solid fa-microphone icon"></i></td>
              <td class="gig-text"> <%= link_to gig.bands.map(&:name).join(', '), gig_path(gig), class: "venue-link" %></td>
              <%# Added venue-link class %>
            </tr>
            <tr>
              <td class="label"><i class="fa-regular fa-clock icon"></i></td>
              <td class="gig-text">OPEN: <%= gig.open_time %> / START: <%= gig.formatted_start_time %></td>
            </tr>
            <tr>
              <td class="label"><i class="fa-solid fa-yen-sign icon"></i></td>
              <td class="gig-text">
                <% if gig.price.to_s =~ /\d/ %>
                  ¥<%= gig.price.to_s.gsub(/(¥|\s*JPY|\s*yen)/i, '').strip %>
                <% else %>
                  <%= gig.price %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      <% end %>
    <% else %>
      <p class="text-black upcoming-text ps-4">No upcoming gigs for this venue.</p>
      <%# Added text-black for visibility %>
    <% end %>
  </div>
</div>
</div>
<%# End of .venue-show-page-content-wrapper %>
