<%= render 'shared/rectangle_box', title: " " %>
<div class="venue-show container">
  <%# venue header %>
  <div class="venue-header">
    <div class="header-header-text">
      <h1><%= @venue.name %></h1>
      <p class="neighborhood"><%= @venue.neighborhood %>, Tokyo </p>
    </div>
    <div class="header-header-img">
      <%= image_tag ("venue_image.jpg"), class: "venue-img"; %>
    </div>
  </div>
  <%# venue details %>
  <p class="d-inline-flex gap-1 px-3 pt-3">
    <a class="text-white" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    + details
  </a>
  </p>
  <div class="collapse px-3" id="collapseExample">
    <div class="venue-details">
      <table style="color: white;">
        <tr>
          <td class="label"><div>address:</div></td>
          <td><div><%= @venue.address %></div></td>
        </tr>
        <tr>
          <td class="label"><div>website:</div></td>
          <td><div><%= @venue.website %></div></td>
        </tr>
        <tr>
          <td class="label"><div>email:</div></td>
          <td><div><%= @venue.email %></div></td>
        </tr>
      </table>
    </div>
  </div>
  <%# upcoming show %>
  <div class="venue-body p-3">
    <h3 class="body-header mb-3 mt-3">Upcoming</h3>
    <ul class="ps-0">
      <li>
        <i class="fa-regular fa-calendar" style="color: #FFFFFF;"></i><p class="gig-date"><%= Gig.all.sample.date %></p>
        <i class="fa-solid fa-person" style="color: #FFFFFF;"></i><p class="gig-bands"><%= Band.all.sample.name %></p>
        <i class="fa-regular fa-clock" style="color: #FFFFFF;"></i><p class="gig-time">Doors: <%= Gig.all.sample.open_time %> / Start: <%= Gig.all.sample.start_time %></p>
        <i class="fa-solid fa-yen-sign" style="color: #FFFFFF;"></i><p class="gig-price">Price: ¥<%= Gig.all.sample.price %> </p>
      </li>
    </ul>
  </div>
</div>
