<%= render 'shared/rectangle_box', title: " " %>
<div class="venue-show container">
  <%# venue header %>
  <div class="venue-header">
    <div class="header-header-text">
      <h1><%= @venue.name %></h1>
      <p class="neighborhood"><%= @venue.neighborhood %>, Tokyo </p>
    </div>
    <div class="header-header-img">
      <%= image_tag ("venue_image.jpg"), class: "venue-img"; %>
    </div>
  </div>
  <%# venue details %>
  <p class="d-inline-flex gap-1 px-3 pt-3">
    <a class="text-custom" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    + details
  </a>
  </p>
  <div class="collapse px-3" id="collapseExample">
    <div class="venue-details">
      <table style="color: white;">
        <tr>
          <td class="label"><div>address:</div></td>
          <td><div><%= @venue.address %></div></td>
        </tr>
        <tr>
          <td class="label"><div>website:</div></td>
          <td><div><%= @venue.website %></div></td>
        </tr>
        <tr>
          <td class="label"><div>email:</div></td>
          <td><div><%= @venue.email %></div></td>
        </tr>
      </table>
    </div>
  </div>
  <%# upcoming show %>
  <div class="venue-body p-3">
    <h4 class="body-header mb-3 mt-3">Upcoming</h4>
    <table class="gig-table">
      <tr>
        <td class="label"><i class="fa-regular fa-calendar icon"></i></td>
        <td class="gig-text"><%= Gig.all.sample.date.strftime("%Y/%m/%d") %></td>
      </tr>
      <tr>
        <td class="label"><i class="fa-solid fa-microphone icon"></i></td>
        <td class="gig-text"><%= Band.all.sample.name %></td>
      </tr>
      <tr>
        <td class="label"><i class="fa-regular fa-clock icon"></i></td>
        <td class="gig-text">OPEN: <%= Gig.all.sample.open_time %> / START: <%= Gig.all.sample.start_time %></td>
      </tr>
      <tr>
        <td class="label"><i class="fa-solid fa-yen-sign icon"></i></td>
        <td class="gig-text">PRICE: ¥<%= Gig.all.sample.price %></td>
      </tr>
    </table>
  </div>
</div>
