<%= render 'shared/rectangle_box', title: " " %>
<div class="gig-show container justify-content-between">
  <div>
    <%# GIG HEADER %>
    <div class="gig-header">
      <div class="gig-header-text">
        <% venue = Venue.find(@gig.venue_id) %>
        <h1><%= venue.name %></h1>
        <p class="neighborhood"><%= venue.neighborhood %>, Tokyo</p>
      </div>
      <div class="header-header-img">
        <%= image_tag("venue_image.jpg", class: "gig-img") %>
      </div>
    </div>
    <%# SEE VENUE DETAILS BUTTON %>
    <p class="d-inline-flex gap-1" style="padding: 12px 12px 0 12px;">
      <a class="text-custom" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        + see venue details
      </a>
    </p>
    <%# VENUE DETAILS %>
    <div class="collapse px-3" id="collapseExample">
      <div class="venue-details">
        <table style="color: white;">
          <tr>
            <td class="label">
              <div>address:</div>
            </td>
            <td>
              <div><%= venue.address %></div>
            </td>
          </tr>
          <tr>
            <td class="label">
              <div>website:</div>
            </td>
            <td>
              <div><%= venue.website %></div>
            </td>
          </tr>
          <tr>
            <td class="label">
              <div>email:</div>
            </td>
            <td>
              <div><%= venue.email %></div>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <%# GIG INFO %>
    <div class="gig-body p-3">
      <div class="gig-info text-end">
        <h5 class="border-bottom mt-3">CONCERT INFO</h5>
        <p class="my-3">
          DATE:<span class="label-space"><%= @gig.date.strftime("%B %d, %Y") %></span>
        </p>
        <div style="display: flex; justify-content: flex-end; gap: 13px;">
          <p>
            OPEN/START:<span class="label-space"><%= @gig.open_time.to_datetime.strftime("%H:%M") %>/<%= @gig.start_time.to_datetime.strftime("%H:%M") %></span>
          </p>
        </div>
        <p class="gig-price">
          PRICE:<span class="label-space">¥<%= Gig.all.sample.price %></span>
        </p>
        <p>
          GENRE:<span class="label-space"><%= Band.all.sample.genre %></span>
        </p>
      </div>
      <%# ARTIST %>
      <div class="artist mt-5">
        <h5 class="border-bottom mt-3">ARTIST</h5>
        <div class="ps-0">
          <% Band.all.sample(2).each do |band| %>
            <p><%= band.name %></p>
            <p><%= band.website_link %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-button-link sticky-buttons d-flex flex-column align-items-end pe-2">
    <div class="gig-actions">
      <%# FAVORITE ACTION %>
      <% if user_signed_in? %>
        <% if current_user.favorited?(@gig) %>
          <%= link_to "unfavorite", gig_favorite_path(@gig, current_user.favorites.find_by(favoritable: @gig).id),
                    data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to unfavorite this gig?" },
                    class: "btn btn-danger btn-favorite" %>
        <% else %>
          <%= link_to "favorite", gig_favorites_path(@gig),
                    data: { turbo_method: :post },
                    class: "btn btn-outline-danger btn-favorite" %>
        <% end %>
      <% else %>
        <p><%= link_to "Log in to favorite this gig", new_user_session_path %></p>
      <% end %>
    </div>
    <%# BACK TO GIGS LINK %>
    <p class="mb-0 mt-2 pe-2"><%= link_to "< back to gigs", gigs_path, class: "text-custom"%></p>
  </div>
</div>
