<%= render 'shared/rectangle_box', title: "Find Your Next Show With..."%>
<div class="gig-show container m-2">
  <div class="gig-header">
    <div class="gig-header-text">
      <% venue = Venue.find(@gig.venue_id) %>
      <h1><%= venue.name %></h1>
      <p class="neighborhood"><%= venue.neighborhood %>, Tokyo </p>
    </div>
    <div class="header-header-img">
      <%= image_tag ("venue_image.jpg"), class: "gig-img"; %>
    </div>
  </div>
  <div class="gig-body">
    <h2 class="body-header"><%= @gig.date.strftime("%B %d, %Y") %> </h2>
    <p> Open: <%= @gig.open_time.to_datetime.strftime("%-k:%M") %> </p>
    <p> Start: <%= @gig.start_time.to_datetime.strftime("%-k:%M") %> </p>
    <h4> <%= Band.all.sample.genre %> </h4>
    <ul>
      <% Band.all.sample(2).each do |band| %>
        <div class="band-info">
          <div class="band-info-text">
            <p> <%= band.name %> </p>
            <p> <%= band.website_link %> </p>
          </div>
          <div class="band-info-song">
            <iframe width="100" height="100" src="https://www.youtube.com/embed/hh-jwdWmgxg?si=QW28YDzS0Dt7cDe_&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      <% end %>
      <p class="gig-price">Price: ¥<%= Gig.all.sample.price %> </p>
    </ul>
  </div>
  <div class="venue-details">
    <p> <strong>address:</strong> <%= venue.address %> </p>
    <p> <strong>website:</strong> <%= venue.website %> </p>
    <p> <strong>email:</strong> <%= venue.email %> </p>
  </div>
</div>
