<!DOCTYPE html>
<html>
  <head>
    <title>TokyoTurntable</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload" %>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.2/css/all.css">
  </head>
  <body>
    <%= render "shared/flash" %>
    <%# Conditional rendering: If it's the home page, yield directly. Otherwise, use the 'content' wrapper. %>
    <% if controller_name == 'pages' && action_name == 'home' %>
      <%= yield %> <%# Your #home-page div will be rendered here, taking full width %>
    <% else %>
      <%# For all other pages, keep the 'content' wrapper and the empty bg-red div %>
      <div class="content <%= "ms-5" unless current_page?(venues_path) %>">
      </div>
      <%= yield %>
    <% end %>
    <%= render "shared/tokyo_navbar" %> <%# This is your actual bottom navigation bar %>
  </body>
</html>
